.ar
	header
		.content-wrapper
			.nav.clearfix
				.logo
					h1 حصالة
				.links
					a.fb(href=fbLink)
						span Facebook
					a.arabic(href=arabicLink)
						span عربي
					a.eng(href=engLink)
						span Eng

			.content
				.tagline
					p مقرها في مصر
					h1 منصة للتبرع تجمع بين السهولة ، المصداقية ،والانتقائية
				#mc_embed_signup
					form.rss(action="//178.us14.list-manage.com/subscribe/post?u=e6d3ecfbe1abbc55bca96a5e2&amp;id=acb7b2e456" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate)
						#mc_embed_signup_scroll
							.mc-field-group
								label(for="mce-EMAIL") برديك
								input(type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL")
								button(type="submit" name="subscribe" id="mc-embedded-subscribe") اشترك
							.mce-responses
								.response#mce-error-response(style="display:none")
								.response#mce-success-response(style="display:none")

							div(style="position: absolute; left: -5000px;" aria-hidden="true")
								input(type="text" name="b_e6d3ecfbe1abbc55bca96a5e2_acb7b2e456" tabindex="-1" value="")
				hr
				.awards.clearfix
					h2 الجوائز
					.mal
						h3 MAL
						p فازت حصالة بالمركز الاول فى مسابقة MAL وهىمسابقة تحت رعاية جوجل ،MIT Arabو TEIC
					.betapitch
						h3 Betapitch
						p Betapitch فازت حصالة بالمركز الاول فى مسابقة تحت رعاية BetaHaus و Riseup وتأهلت لعرض الفكرة فى برلين مع باقى المتأهلين من الدول الاخرى


	.contact
		h1 تواصل معنا
		.content.clearfix
			h2  بيانات التواصل 
			form.contact
				.form-group.radio
					label
						input(type="radio" name="type" value="0") 
						| مؤسسة
					label
						input(type="radio" name="type" value="1") 
						| فرد
					label
						input(type="radio" name="type" value="2") 
						| CSR
					label
						input(type="radio" name="type" value="3") 
						| اعلام
					label
						input(type="radio" name="type" value="4") 
						| NGO
				.form-group.col
					label الاسم الاول
					input(type="text" name="first_name")
				.form-group.col
					label اسم العائلة
					input(type="text" name="last_name")
				.form-group.col
					label البريد الالكتروني:
					input(type="email", name="email")
				.form-group.col
					label رقم الهاتف:
					input(type="tel", name="phone")
				.form-group
					label الوظيفة
					input(type="text" name="position")
				.form-group
					label الرسالة
					textarea(name="message")
				button(type="submit" id="contact-submit") ارسل


	.articles.clearfix
		h1 نشر عن حصالة
		.content
			a(href=thinkMarketing) 
				img(src="assets/img/thinkmarketing.png")
				| Think Marketing
			a(href=masry) 
				img(src="assets/img/masry.png")
				| Masry Elyoum
			a(href=ahram) 
				img(src="assets/img/ahram.png")
				| Ahram
			a(href=wamda) 
				img(src="assets/img/wamda.png")
				| Wamda
			a(href=huffPost) 
				img(src="assets/img/huffpost.png")
				| The Huffington Post

	footer
		h1 Hasala
		.copyright
			p &copy; HASALA 2016 - جميع الحقوق محفوظه
		a.fb(href=fbLink) 
			span Facebook	
		.app
			h2 قريبا
			a.android(href=android) 
				span Google Play
			a.ios(href=ios) 
				span App Store
